.todo {
  border: solid 1px black;
  width: 23%;
  text-align: center;
  color: green;
}

.todoList {
  width: 50%;
  background-color: lightcoral;
  display: flex;
  flex-flow: row wrap;
}

.appWrap {
  margin: 0 auto;
}

.completedTask {
  text-decoration: line-through;
  color: red;
}
